@import 'colours';

body {
  font-family: system-ui, sans-serif;
  max-width: 600px;
  margin: 1rem auto;
  padding: 0 1rem;
  color: $base-color;
  background-color: $base-bg-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:visited {
    color: $link-visited-color;
  }
}

.notice {
  border-left: 4px solid lighten($link-color, 20%);
  background-color: $link-color;
  padding: 1rem;
  color: $base-bg-color;

  a {
    color: $base-bg-color;

    &:before {
      content: "\2190";
      margin-right: 0.2rem;
      display: inline-block;
      text-decoration: none;
    }
  }
}

ul.entries {
  padding-left: 1.5rem;

  > li {
    margin-bottom: 1.5rem;
  }
}

.item-header {
  font-size: 1.3rem;
  font-weight: bold;
}

.item-updated {
  font-size: 0.8rem;
  margin: 0.4rem 0;

  .cat {
    margin-right: 0.4rem;
    padding: 0.1rem 0.6rem;
    border-radius: 1rem;
    color: $base-color;
    border: 1px solid $base-color;
  }
}

.downloads {
  margin-top: 0.6rem;

  a.book {
    display: inline-block;
    text-align: center;
    min-width: 6rem;
    margin-right: 0.6rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    border: 1px solid $base-disabled-color;
    background-color: $book-bg-color;
  }
}

[data-theme="dark"] {
  body {
    color: $dark-base-color;
    background-color: $dark-base-bg-color;
  }

  a {
    color: $dark-link-color;

    &:hover {
      color: $dark-link-hover-color;
    }

    &:visited {
      color: $dark-link-visited-color;
    }
  }

  .notice {
    background-color: $dark-link-color;
    border-left-color: darken($dark-link-color, 20%);
    color: $dark-base-bg-color;

    a {
      color: $dark-base-bg-color;
    }
  }

  .item-updated {

    .cat {
      color: $dark-base-color;
      border-color: $dark-base-color;
    }
  }

  .downloads {

    a.book {
      border-color: $dark-base-disabled-color;
      background-color: $dark-book-bg-color;
    }
  }
}

@import 'opds_custom';
